// TODO
.headerContainer{
    max-width: 1120px;
    margin: 0 auto;
    height: 6.56rem;
}

.headerContent{
    height: 6.56rem;
    margin-left: 18.5%;

    display: flex;
    align-items: center;
}